@{
    ViewData["Title"] = "Home Page";
}

<div class="tieude">
    <h1>SẢN PHẨM BÁN CHẠY</h1>
    <img src="image/ads.webp" alt="">
</div>
<div class="menu_sp">
    <div class="menu_sp-item">

        <img src="image/sp2_1.webp" width="250px" alt="">
        <div class="item_text">
            <a href="chitietsp.html"> LeBron 19</a> <br>
        </div>
        <div class="tim"> <ion-icon name="heart-outline"></ion-icon></div>

        <div class="item_daban">
            <a href="chitietsp.html"> NIKE</a>
        </div>
        <br>
        <div class="item_gia">
            <a href="chitietsp.html"> 66.000đ</a>
        </div>

        <div class="layer2">
            <a href=""><img src="image/sp2_2.webp" width="250px" alt=""></a>
            <div id="id1" onclick="dolen(this)" class="tim"> <ion-icon name="heart-outline"></ion-icon></div>
            <button><ion-icon name="cart-outline"></ion-icon></button>
        </div>

    </div><div class="menu_sp-item">

        <img src="image/sp2_1.webp" width="250px" alt="">
        <div class="item_text">
            <a href=""> LeBron 19</a> <br>
        </div>
        <div class="tim"> <ion-icon name="heart-outline"></ion-icon></div>

        <div class="item_daban">
            <a href=""> NIKE</a>
        </div>
        <br>
        <div class="item_gia">
            <a href=""> 66.000đ</a>
        </div>

        <div class="layer2">
            <a href=""><img src="image/sp2_2.webp" width="250px" alt=""></a>
            <div id="id1" onclick="dolen(this)" class="tim"> <ion-icon name="heart-outline"></ion-icon></div>
            <button><ion-icon name="cart-outline"></ion-icon></button>
        </div>

    </div><div class="menu_sp-item">

        <img src="image/sp2_1.webp" width="250px" alt="">
        <div class="item_text">
            <a href=""> LeBron 19</a> <br>
        </div>
        <div class="tim"> <ion-icon name="heart-outline"></ion-icon></div>

        <div class="item_daban">
            <a href=""> NIKE</a>
        </div>
        <br>
        <div class="item_gia">
            <a href=""> 66.000đ</a>
        </div>

        <div class="layer2">
            <a href=""><img src="image/sp2_2.webp" width="250px" alt=""></a>
            <div id="id1" onclick="dolen(this)" class="tim"> <ion-icon name="heart-outline"></ion-icon></div>
            <button><ion-icon name="cart-outline"></ion-icon></button>
        </div>

    </div><div class="menu_sp-item">

        <img src="image/sp2_1.webp" width="250px" alt="">
        <div class="item_text">
            <a href=""> LeBron 19</a> <br>
        </div>
        <div class="tim"> <ion-icon name="heart-outline"></ion-icon></div>

        <div class="item_daban">
            <a href=""> NIKE</a>
        </div>
        <br>
        <div class="item_gia">
            <a href=""> 66.000đ</a>
        </div>

        <div class="layer2">
            <a href=""><img src="image/sp2_2.webp" width="250px" alt=""></a>
            <div id="id1" onclick="dolen(this)" class="tim"> <ion-icon name="heart-outline"></ion-icon></div>
            <button><ion-icon name="cart-outline"></ion-icon></button>
        </div>

    </div><div class="menu_sp-item">

        <img src="image/sp2_1.webp" width="250px" alt="">
        <div class="item_text">
            <a href=""> LeBron 19</a> <br>
        </div>
        <div class="tim"> <ion-icon name="heart-outline"></ion-icon></div>

        <div class="item_daban">
            <a href=""> NIKE</a>
        </div>
        <br>
        <div class="item_gia">
            <a href=""> 66.000đ</a>
        </div>

        <div class="layer2">
            <a href=""><img src="image/sp2_2.webp" width="250px" alt=""></a>
            <div id="id1" onclick="dolen(this)" class="tim"> <ion-icon name="heart-outline"></ion-icon></div>
            <button><ion-icon name="cart-outline"></ion-icon></button>
        </div>

    </div><div class="menu_sp-item">

        <img src="image/sp2_1.webp" width="250px" alt="">
        <div class="item_text">
            <a href=""> LeBron 19</a> <br>
        </div>
        <div class="tim"> <ion-icon name="heart-outline"></ion-icon></div>

        <div class="item_daban">
            <a href=""> NIKE</a>
        </div>
        <br>
        <div class="item_gia">
            <a href=""> 66.000đ</a>
        </div>

        <div class="layer2">
            <a href=""><img src="image/sp2_2.webp" width="250px" alt=""></a>
            <div id="id1" onclick="dolen(this)" class="tim"> <ion-icon name="heart-outline"></ion-icon></div>
            <button><ion-icon name="cart-outline"></ion-icon></button>
        </div>

    </div><div class="menu_sp-item">

        <img src="image/sp2_1.webp" width="250px" alt="">
        <div class="item_text">
            <a href=""> LeBron 19</a> <br>
        </div>
        <div class="tim"> <ion-icon name="heart-outline"></ion-icon></div>

        <div class="item_daban">
            <a href=""> NIKE</a>
        </div>
        <br>
        <div class="item_gia">
            <a href=""> 66.000đ</a>
        </div>

        <div class="layer2">
            <a href=""><img src="image/sp2_2.webp" width="250px" alt=""></a>
            <div id="id1" onclick="dolen(this)" class="tim"> <ion-icon name="heart-outline"></ion-icon></div>
            <button><ion-icon name="cart-outline"></ion-icon></button>
        </div>

    </div><div class="menu_sp-item">

        <img src="image/sp2_1.webp" width="250px" alt="">
        <div class="item_text">
            <a href=""> LeBron 19</a> <br>
        </div>
        <div class="tim"> <ion-icon name="heart-outline"></ion-icon></div>

        <div class="item_daban">
            <a href=""> NIKE</a>
        </div>
        <br>
        <div class="item_gia">
            <a href=""> 66.000đ</a>
        </div>

        <div class="layer2">
            <a href=""><img src="image/sp2_2.webp" width="250px" alt=""></a>
            <div id="id1" onclick="dolen(this)" class="tim"> <ion-icon name="heart-outline"></ion-icon></div>
            <button><ion-icon name="cart-outline"></ion-icon></button>
        </div>

    </div>



</div>
