<div class="footer">
    <img src="~/image/Footer (2).jpg" width="100%" height="auto" alt="">
    <div class="container">



        <div class="diachi">
            <img src="/~image/logo.png" width="250px" alt="">
            <div class="phone">
                <ion-icon name="heart-outline"></ion-icon>
                Số 1,Võ Văn Ngân, Phường Linh Trung, Thành Phố Thủ Đức, Thành phố Hồ Chí Minh
            </div>
            <div class="phone">
                <ion-icon name="heart-outline"></ion-icon>
                0911950758
            </div>
            <div class="phone">
                <ion-icon name="heart-outline"></ion-icon>
                tranbuuquyen@gmail.com
            </div>
            <div class="ds_anh">
                <img src="~/image/footer_3.webp" alt="">
                <img src="~/image/footer_3.webp" alt="">
                <img src="~/image/footer_3.webp" alt="">
                <img src="~/image/footer_3.webp" alt="">
            </div>
        </div>
        <ul class="vechungtoi">
            <li><h4>VỀ CHÚNG TÔI</h4></li>
            <li><a href="">Trang chủ</a></li>
            <li><a href="">Giới Thiệu</a></li>
            <li><a href="">Sản phẩm</a></li>
            <li><a href="">Tin Tức</a></li>
            <li><a href="">Liên hệ</a></li>
        </ul>
        <ul class="vechungtoi">
            <li><h4>CHÍNH SÁCH</h4></li>
            <li><a href="">Trang chủ</a></li>
            <li><a href="">Giới Thiệu</a></li>
            <li><a href="">Sản phẩm</a></li>
            <li><a href="">Tin Tức</a></li>
            <li><a href="">Liên hệ</a></li>
        </ul>
        <ul class="vechungtoi">
            <li><h4>THEO DÕI CHÚNG TÔI</h4></li>
            <div class="icon">
                <ion-icon name="logo-facebook"></ion-icon>
                <ion-icon name="logo-youtube"></ion-icon>
                <ion-icon name="logo-instagram"></ion-icon>
            </div>
            <ul class="lienhe">
                <li><h4>THEO DÕI CHÚNG TÔI</h4></li>
                <input type="text" placeholder="Nhập địa chỉ gmail">
                <button>Gửi</button>
            </ul>
        </ul>


    </div>
    <div class="copyright">
        Bản quyền thuộc về NDteam(Nhóm 6 tham khảo)
    </div>
</div>