<div class="sneaker">
    <div class="tieude">
        <h1>SNEAKERS</h1>
        <p>Các sản phẩm Sneakers có tại ND Shoes</p>
    </div>
    <ul class="thuonghieu">
        <li><a href="#adidas">Adidas</a></li>
        <li><a href="">Nike</a></li>
        <li><a href="">Converse</a></li>
        <li><a href="">Vans</a></li>
        <li><a href="">Puma</a></li>
        <li><a href="">FILA</a></li>
        <li><a href="">MLB</a></li>
        <li><a href="">Balance</a></li>
    </ul>
    <div class="menu_sp">
        <div class="menu_sp-item">

            <img src="~/image/sp2_1.webp" width="250px" alt="">
            <div class="item_text">
                <a href="chitietsp.html"> LeBron 19</a> <br>
            </div>
            <div class="tim"> <ion-icon name="heart-outline"></ion-icon></div>

            <div class="item_daban">
                <a href="chitietsp.html"> NIKE</a>
            </div>
            <br>
            <div class="item_gia">
                <a href="chitietsp.html"> 66.000đ</a>
            </div>

            <div class="layer2">
                <a href=""><img src="~/image/sp2_2.webp" width="250px" alt=""></a>
                <div id="id1" onclick="dolen(this)" class="tim"> <ion-icon name="heart-outline"></ion-icon></div>
                <button><ion-icon name="cart-outline"></ion-icon></button>
            </div>

        </div><div class="menu_sp-item">

            <img src="~/image/sp2_1.webp" width="250px" alt="">
            <div class="item_text">
                <a href=""> LeBron 19</a> <br>
            </div>
            <div class="tim"> <ion-icon name="heart-outline"></ion-icon></div>

            <div class="item_daban">
                <a href=""> NIKE</a>
            </div>
            <br>
            <div class="item_gia">
                <a href=""> 66.000đ</a>
            </div>

            <div class="layer2">
                <a href=""><img src="~/image/sp2_2.webp" width="250px" alt=""></a>
                <div id="id1" onclick="dolen(this)" class="tim"> <ion-icon name="heart-outline"></ion-icon></div>
                <button><ion-icon name="cart-outline"></ion-icon></button>
            </div>

        </div><div class="menu_sp-item">

            <img src="~/image/sp2_1.webp" width="250px" alt="">
            <div class="item_text">
                <a href=""> LeBron 19</a> <br>
            </div>
            <div class="tim"> <ion-icon name="heart-outline"></ion-icon></div>

            <div class="item_daban">
                <a href=""> NIKE</a>
            </div>
            <br>
            <div class="item_gia">
                <a href=""> 66.000đ</a>
            </div>

            <div class="layer2">
                <a href=""><img src="~/image/sp2_2.webp" width="250px" alt=""></a>
                <div id="id1" onclick="dolen(this)" class="tim"> <ion-icon name="heart-outline"></ion-icon></div>
                <button><ion-icon name="cart-outline"></ion-icon></button>
            </div>

        </div><div class="menu_sp-item">

            <img src="~/image/sp2_1.webp" width="250px" alt="">
            <div class="item_text">
                <a href=""> LeBron 19</a> <br>
            </div>
            <div class="tim"> <ion-icon name="heart-outline"></ion-icon></div>

            <div class="item_daban">
                <a href=""> NIKE</a>
            </div>
            <br>
            <div class="item_gia">
                <a href=""> 66.000đ</a>
            </div>

            <div class="layer2">
                <a href=""><img src="~/image/sp2_2.webp" width="250px" alt=""></a>
                <div id="id1" onclick="dolen(this)" class="tim"> <ion-icon name="heart-outline"></ion-icon></div>
                <button><ion-icon name="cart-outline"></ion-icon></button>
            </div>

        </div><div class="menu_sp-item">

            <img src="~/image/sp2_1.webp" width="250px" alt="">
            <div class="item_text">
                <a href=""> LeBron 19</a> <br>
            </div>
            <div class="tim"> <ion-icon name="heart-outline"></ion-icon></div>

            <div class="item_daban">
                <a href=""> NIKE</a>
            </div>
            <br>
            <div class="item_gia">
                <a href=""> 66.000đ</a>
            </div>

            <div class="layer2">
                <a href=""><img src="~/image/sp2_2.webp" width="250px" alt=""></a>
                <div id="id1" onclick="dolen(this)" class="tim"> <ion-icon name="heart-outline"></ion-icon></div>
                <button><ion-icon name="cart-outline"></ion-icon></button>
            </div>

        </div><div class="menu_sp-item">

            <img src="~/image/sp2_1.webp" width="250px" alt="">
            <div class="item_text">
                <a href=""> LeBron 19</a> <br>
            </div>
            <div class="tim"> <ion-icon name="heart-outline"></ion-icon></div>

            <div class="item_daban">
                <a href=""> NIKE</a>
            </div>
            <br>
            <div class="item_gia">
                <a href=""> 66.000đ</a>
            </div>

            <div class="layer2">
                <a href=""><img src="~/image/sp2_2.webp" width="250px" alt=""></a>
                <div id="id1" onclick="dolen(this)" class="tim"> <ion-icon name="heart-outline"></ion-icon></div>
                <button><ion-icon name="cart-outline"></ion-icon></button>
            </div>

        </div><div class="menu_sp-item">

            <img src="~/image/sp2_1.webp" width="250px" alt="">
            <div class="item_text">
                <a href=""> LeBron 19</a> <br>
            </div>
            <div class="tim"> <ion-icon name="heart-outline"></ion-icon></div>

            <div class="item_daban">
                <a href=""> NIKE</a>
            </div>
            <br>
            <div class="item_gia">
                <a href=""> 66.000đ</a>
            </div>

            <div class="layer2">
                <a href=""><img src="~/image/sp2_2.webp" width="250px" alt=""></a>
                <div id="id1" onclick="dolen(this)" class="tim"> <ion-icon name="heart-outline"></ion-icon></div>
                <button><ion-icon name="cart-outline"></ion-icon></button>
            </div>

        </div><div class="menu_sp-item">

            <img src="~/image/sp2_1.webp" width="250px" alt="">
            <div class="item_text">
                <a href=""> LeBron 19</a> <br>
            </div>
            <div class="tim"> <ion-icon name="heart-outline"></ion-icon></div>

            <div class="item_daban">
                <a href=""> NIKE</a>
            </div>
            <br>
            <div class="item_gia">
                <a href=""> 66.000đ</a>
            </div>

            <div class="layer2">
                <a href=""><img src="~/image/sp2_2.webp" width="250px" alt=""></a>
                <div id="id1" onclick="dolen(this)" class="tim"> <ion-icon name="heart-outline"></ion-icon></div>
                <button><ion-icon name="cart-outline"></ion-icon></button>
            </div>

        </div>



    </div>

</div>